<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>How it's made</title>
</head>
<body>
    <h1>How it works:</h1>
    <p>You enter the movie title, I use the OMDB api to link the title to an IMDB movie id.</p>
    <p>I use that movie ID to get the url for the cast list for the movie.</p>
    <p>I grab all the cast members for each individual movie and store in a list.</p>
    <p>I go through and see how many times each name pops up, and if that number is equal to the number of movies the user gave me, then we add that name to the final list.</p>
    <br>
    <p>I started this project as an excuse to learn webscraping as well as it never hurts to have more things on my resume.</p>
    <p>The webscraping went well but I didn't want to just make it a terminal program so I decided I'd learn a bit of html for this to make a website that I could publish.</p>
    <p>Since I was already doing the webscraping in python using BeautifulSoup, I found Flask to help with frontend.</p>
    <p>Frontend was a bit of a struggle and boring as heck but I got it done (yes I know it doesn't look pretty, that was never my goal).</p>
    <p>Overall I'm very happy with how this project turned out. I may come back and add functionality to show actors who show up in most of the provided movies but not all. But that's a decision for another day.</p>
    <p>-Mason Myre</p>
</body>
</html>