<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ERROR :O</title>
</head>
<body>
    <h1>Unfortunately, Actor Finder ran into an error!</h1>

    <h4>List of known error causes: </h4>
    <p>Typing "spiderman" or "spider man", the api only accepts "spider-man". I have even tried to hardcode in a fix and it still doesn't work :/</p>
    <p>Typing "once upon a time in hollywood" and not putting the "..." after "time" trust me I am just as annoyed as you are</p>
    <p>Maybe I took out the api key when uploading to github and forgot to put it back in</p>
    
    

    <button id="backButton">Go back</button>

    

    <script>

        document.getElementById("backButton").addEventListener("click", () => {history.back();});


    </script>
</body>
</html>
